<!-- views/partials/navbar.ejs -->
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <a href="/admin" class="nav-link">Dashboard</a>
    <a href="/travel-news" class="nav-link">Travel new</a>
    <a href="/thongbao" class="nav-link">Nofi</a>
    <a href="/tour-news" class="nav-link">Tour New</a>
    <a href="/users" class="nav-link">Users</a>
    <a href="/logout" class="logout">Logout</a>
  </div>
  