<!-- views/partials/navbar.ejs -->
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <a href="/admin" class="nav-link">Dashboard</a>
    <a href="/travel new" class="nav-link">Travel new</a>
    <a href="/thongbao" class="nav-link">Fav</a>
    <a href="/tour new" class="nav-link">Tour New</a>
    <a href="/users" class="nav-link">Users</a>
    <a href="/logout" class="logout">Logout</a>
  </div>
  